
<div class="color">
<div class="forgot-password-container">
  <h2>Forgot Password</h2>
  
  <form *ngIf="!resetPassword" (ngSubmit)="onRequestReset(forgotPasswordForm)" #forgotPasswordForm="ngForm">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" ngModel required placeholder="Enter your email">
      <div *ngIf="forgotPasswordForm.controls['email'].invalid && (forgotPasswordForm.controls['email'].touched || forgotPasswordForm.controls['email'].dirty)" class="error-message">
        Email is required.
      </div>
    </div>
    <button type="submit" [disabled]="forgotPasswordForm.invalid" class="submit-button"> Reset password</button>
  </form>

  <div *ngIf="emailSent" class="success-message">...You can reset your password !</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <form *ngIf="resetPassword" (ngSubmit)="onResetPassword(resetPasswordForm)" #resetPasswordForm="ngForm">
    <h3>Reset Password</h3>
    <div class="form-group">
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" ngModel required placeholder="Enter new password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" ngModel required placeholder="Confirm new password">
      <div *ngIf="resetPasswordForm.controls['confirmPassword'].invalid && (resetPasswordForm.controls['confirmPassword'].touched || resetPasswordForm.controls['confirmPassword'].dirty)" class="error-message">
        Confirm Password is required.
      </div>
    </div>
    <button type="submit" [disabled]="resetPasswordForm.invalid" class="submit-button">Reset Password</button>
  </form>
  <button (click)="goToLogin()" class="back-button">Back to Login</button> <!-- Back button -->
</div>

</div>